* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1600px;
}

/* banner section start */
.banner-container {
  background-image: url("../images/banner-image.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px auto 120px;
  display: flex; /* for aligning child horizontally */
  justify-content: center; /* for horizontally center */
  align-items: center; /* for vertically center */
}

.banner-text {
  font-family: Merriweather;
  text-align: center;
  color: #ffffff;
  /*padding: 177px 0;*/
}

.happy {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.new {
  font-size: 72px;
  font-weight: 900;
}
/* banner section end */

/* all section start */
.all-container {
  width: 803px;
  margin: auto;
  margin-bottom: 120px;
}

.all-text {
  font-family: Inter;
  text-align: center;
}

.off {
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
  color: #ff0000;
}

.deals {
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
}

.categories {
  font-size: 48px;
  font-weight: 700;
  color: #070211;
  margin-bottom: 48px;
}
/* all section start */

/* party section start */
.party-container {
  background-image: url("../images/party-bg.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 0 auto 120px;
  display: flex; /* for aligning child horizontally */
  justify-content: center; /* for horizontally center */
  align-items: center; /* for vertically center */
}

.party-text {
  color: #ffffff;
}

.midnight {
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.dolor {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.join {
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 32px;
}

.twenty-four {
  margin-left: 95px;
}
/* party section end */

/* park section start */
.park-container {
  background-image: url("../images/park-bg.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 482px;
  margin: 0 auto 120px;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.park-text {
  padding: 100px 0 48px;
  line-height: 55px;
}

.place span {
  color: #ff0000;
}

.join-now {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #ff0000;
  border: none;
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
}
/* park section end */

/* offer section start */
.offer-container {
  width: 1320px;
  height: 463px;
  margin: 0 auto 120px;
  display: flex;
  align-items: center;
}

.best {
  color: #ff0000;
  font-family: Inter, "Source Sans Pro";
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.soon {
  color: #070211;
  font-family: Merriweather, "Source Sans Pro";
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.ipsum {
  color: #6a6770;
  font-family: Inter, "Source Sans Pro";
  font-size: 20px;
}

.offer-middle {
  margin-right: 118px;
  margin-left: 70px;
}

.offer-2024 {
  font-family: Inter, "Source Sans Pro";
  font-size: 48px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 16px;
}

.sit {
  font-family: Inter, "Source Sans Pro";
  font-size: 20px;
  color: #6a6770;
  margin-bottom: 43px;
}
/* offer section end */

/* holyday section start */
.holyday-container {
  width: 1320px;
  margin: 0 auto 120px;
}

.holyday-text {
  text-align: center;
  width: 1068px;
  margin: 0 auto;
}

.functional {
  font-family: Inter, "Source Sans Pro";
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.sale {
  font-family: Merriweather, "Source Sans Pro";
  font-size: 72px;
  margin-bottom: 28px;
}

.sale span {
  color: #ff0000;
}

.sale-description {
  font-family: Inter, "Source Sans Pro";
  font-size: 20px;
  color: #6a6770;
  margin-bottom: 64px;
}

.holyday-container img {
  border: 2px dashed #6a6770;
  border-radius: 20px;
}
/* holyday section end */

/* portfolio section start */
.portfolio-container {
  width: 1320px;
  margin: 0 auto 120px;
}

.portfolio-text {
  width: 896px;
}

.gifts {
  font-family: Inter, "Source Sans Pro";
  font-size: 24px;
  font-weight: 600;
  color: #ff0000;
  margin-bottom: 16px;
}

.awesome {
  font-family: Merriweather, "Source Sans Pro";
  font-size: 48px;
  font-weight: 900;
  color: #070211;
  margin-bottom: 22px;
}

.portfolio-description {
  font-family: Inter, "Source Sans Pro";
  font-size: 20px;
  color: #6a6770;
  margin-bottom: 48px;
}

.row {
  display: flex;
  margin-bottom: 24px;
}

.thumbnail2 {
  margin: 0 24px;
}
/* portfolio section start */

/* subscribe section start */
.subscribe-container {
  background-image: url("../images/subscribe-bg.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 616px;
  margin: 0 auto 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-row {
  width: 896px;
}

.subscribe-row h3 {
  font-family: Merriweather, "Source Sans Pro";
  font-size: 48px;
  font-weight: 900;
  color: #070211;
  margin-top: 40px;
  margin-bottom: 22px;
}

.subscribe-row p {
  font-family: Inter, "Source Sans Pro";
  font-size: 20px;
  color: #6a6770;
  margin-bottom: 48px;
}

input {
  width: 438px;
  height: 72px;
  font-family: Inter;
  font-size: 18px;
  color: #6a6770;
  padding: 0 30px;
  border: none;
  border-radius: 50px 0 0 50px;
  outline: none;
}

button {
  background-color: #ff0000;
  width: 210px;
  height: 72px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 0 30px;
  border: none;
  border-radius: 0 50px 50px 0;
  outline: none;
  cursor: pointer;
  position: relative;
  left: -5px;
}
/* subscribe section end */